In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('glassdoor_jobs.csv')

In [3]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [4]:
# Salary parsing
# Company name text only
# State Field
# Age of company
# Parsing of job desc(python etc)

Removing all the rows with salary estimate as -1

In [5]:
df=df[df['Salary Estimate']!='-1']

In [6]:
df_copy=df.copy()

In [7]:
df['Salary Estimate']=df['Salary Estimate'].apply(lambda x: x.split()[0])

In [8]:
# Removing k and $
df['Salary Estimate']=df['Salary Estimate'].apply(lambda x: x.replace('K','').replace('$',''))

In [9]:
df_copy['Hour']=df_copy['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

In [10]:
df['Hour']=df_copy['Hour']

In [11]:
df['Employer_provided']=df_copy['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [12]:
for i in range (0,len(df)):
    if(df['Employer_provided'].iloc[i]==1):
        df['Salary Estimate'].iloc[i].replace(df['Salary Estimate'].iloc[i],df_copy['Salary Estimate'].iloc[i])
    else:
        continue

In [13]:
df['Salary Estimate']=df['Salary Estimate'].apply(lambda x: x.replace('(Employer','').replace('Employer Provided Salary:','').replace('Per Hour',''))

In [14]:
# Removing k and $
df['Salary Estimate']=df['Salary Estimate'].apply(lambda x: x.replace('K','').replace('$',''))

for changing the places having employer values

In [15]:

new=[]
for i in range(0,len(df['Salary Estimate'])):
    if(df['Salary Estimate'].iloc[i]=="Employer"):
        new.append(df_copy['Salary Estimate'].iloc[i])
    else:
        new.append(df['Salary Estimate'].iloc[i])

In [16]:
df['Salary Estimate_n']=new

In [17]:
df.drop("Salary Estimate",axis=1,inplace=True)

In [18]:
df['Salary Estimate_n'].unique()

array(['53-91', '63-112', '80-90', '56-97', '86-143', '71-119', '54-93',
       '86-142', '38-84', '120-160', '126-201', '64-106', '106-172',
       '46-85', '83-144', '102-190', '67-137', '118-189', '110-175',
       '64-111', '81-130', '73-119', '86-139', '63-105', '109-177',
       '63-110', '75-124', '34-61', '72-120', '93-149', '85-140',
       '77-135', '82-132', '83-137', '115-180', '74-138', '64-112',
       '68-129', '52-113', '110-150',
       'Employer Provided Salary:$150K-$160K', '158-211', '20-39',
       '56-117', '63-99', '68-114', '41-95', '86-144', '80-139', '56-95',
       '120-189', '111-176', '84-146', '107-172', '49-85', '61-109',
       '88-148', '60-99', '41-72', '96-161', '65-130', '52-81', '139-220',
       '50-102', '85-139', '74-122', '99-157', '79-222', '57-118',
       '86-141', '94-154', '37-76', '100-160', '55-100', '60-114',
       '39-68', '64-107', '31-65', '34-62', '117-231', '79-134', '52-93',
       '55-116', '72-123', '74-124', '40-73', '102-164', '89-153',
       '61-110', '65-110', '200-275', '68-123', '80-129', '39-71',
       '38-85', '121-193', '54-102', '102-163', '76-140', '60-101',
       '82-133', '65-125', '91-148', '95-173', '77-124', '80-135',
       '85-159', '80-105', '43-81', '29-50', '26-55', '61-118', '60-102',
       '112-182', '51-112', '113-223', '72-129', '71-123',
       'Employer Provided Salary:$120K-$145K', '80-120', '80-130',
       '59-115', '71-136', '81-167', '71-204', '75-125', '77-136',
       '74-123', '44-78', '65-148', '59-110', '85-134', '124-204',
       '131-207', '110-174', '52-101', '81-133', '132-211', '74-140',
       '100-190', '43-80', '17-24', '91-149', '42-82', '116-185',
       '59-116', '48-95', '31-72', '105-198', '98-182', '73-124',
       'Employer Provided Salary:$200K-$250K', '21-34', '117-206',
       '111-183', '81-159', '83-166', '114-182', '42-76', '114-179',
       '60-123', '100-166', '108-173', '48-93', '54-115', '60-127',
       '90-179', '138-224', '190-220', '35-62', '18-25', '39-66', '42-86',
       '69-127', '40-68', '49-113', '75-140', '66-112', '76-125', '44-86',
       '15-25', '53-92', '65-120', '60-103', '53-105', '33-62', '48-90',
       '34-64', '66-111', '91-138', '62-114', '71-129', '74-119', '55-97',
       '15-16', '61-106', '127-199', '74-126', '33-72', '37-63', '67-119',
       '72-117', '78-126', '116-194', '83-133', '45-82', '83-135',
       '70-122', '70-132', '54-101', '68-112', '42-74', '95-161',
       '76-126', '108-176', '130-208', '37-68', '52-99', '105-173',
       '71-134', '39-82', '88-162', '55-99', '67-117', '92-150',
       '116-209', '38-82', 'Employer Provided Salary:$85K-$90K', '62-119',
       '84-136', '52-89', '65-119', '63-101', '127-202', '31-57',
       '75-143', '105-194', '45-86', '95-154', '80-148', '36-62', '50-92',
       '67-135', '42-80', '68-139', '34-92', '54-71', '65-124', '109-200',
       '61-113', '43-86', '74-149', '113-196', '97-160', '24-39',
       '102-172', '108-171', '76-142', '202-306', '49-97', '65-134',
       '32-59', '87-158', '107-173', '56-99',
       'Employer Provided Salary:$25-$28 Per Hour', '80-155', '43-98',
       '45-78', '44-96', '50-110', '61-119',
       'Employer Provided Salary:$100K-$140K', '56-91', '101-158',
       '125-210', '43-77', '139-221', '78-147', '37-66', '38-64', '43-82',
       '90-110', '93-151', '40-101', '97-180', '81-134', '84-157',
       '121-203', '52-85', '81-140', '83-148', '31-55', '102-178',
       'Employer Provided Salary:$110K-$130K', '48-85', '66-123',
       '92-146', '21-29', '10-17', '150-239', '52-91', '82-129', '47-101',
       '49-76', '43-88', '124-199', '97-181', '100-173', '53-96', '65-96',
       '75-127', '94-139', '176-289', '92-149', '118-188', '108-146',
       '65-106', '55-98', '94-162', '63-120', '126-228', '80-134',
       '85-142', '87-140', '76-127', '54-92', '61-100', '112-179',
       '63-111', '75-126', '110-184', '76-145', '70-118', '94-153',
       '150-180', '42-77', '47-85', '62-112', '64-108', '89-144',
       '55-105', '135-211', '57-80', '129-215', '63-127', '50-89',
       '71-124', '69-121', '150-238', '77-132', '59-112', '35-65',
       '79-147', '119-187', '90-157', '32-62', '116-208', '102-165',
       '91-159', '80-133', '39-69', '27-48', '36-71', '130-206', '99-178',
       '86-137', '37-100', '58-111', '72-133', '61-126', '95-160',
       '33-61', '69-119', '67-127', '66-117', '50-98', '90-153',
       'Employer Provided Salary:$100K-$135K', '42-79', '84-153', '44-73',
       '40-87', '72-142', '74-137', '57-109', '136-208', '171-272',
       '65-126', '118-228', '113-182', '58-104', '58-108', '81-161',
       '115-220', '71-144', '32-57', '79-136', '48-113', '27-47',
       '68-125', '39-67', '71-135', '61-123', '87-141', '71-121',
       '72-121', '51-88', '101-141', '79-127', '81-132',
       'Employer Provided Salary:$120K-$140K', '65-113', '59-125',
       '80-142', '62-113'], dtype=object)

In [19]:
# Removing k and $
df['Salary Estimate_n']=df['Salary Estimate_n'].apply(lambda x: x.replace('Employer Provided Salary:','').replace('$','').replace('K','').replace(' (Glassdoor est.)','').replace(" Per Hour",''))

In [20]:
df['Salary Estimate_n'].unique()

array(['53-91', '63-112', '80-90', '56-97', '86-143', '71-119', '54-93',
       '86-142', '38-84', '120-160', '126-201', '64-106', '106-172',
       '46-85', '83-144', '102-190', '67-137', '118-189', '110-175',
       '64-111', '81-130', '73-119', '86-139', '63-105', '109-177',
       '63-110', '75-124', '34-61', '72-120', '93-149', '85-140',
       '77-135', '82-132', '83-137', '115-180', '74-138', '64-112',
       '68-129', '52-113', '110-150', '150-160', '158-211', '20-39',
       '56-117', '63-99', '68-114', '41-95', '86-144', '80-139', '56-95',
       '120-189', '111-176', '84-146', '107-172', '49-85', '61-109',
       '88-148', '60-99', '41-72', '96-161', '65-130', '52-81', '139-220',
       '50-102', '85-139', '74-122', '99-157', '79-222', '57-118',
       '86-141', '94-154', '37-76', '100-160', '55-100', '60-114',
       '39-68', '64-107', '31-65', '34-62', '117-231', '79-134', '52-93',
       '55-116', '72-123', '74-124', '40-73', '102-164', '89-153',
       '61-110', '65-110', '200-275', '68-123', '80-129', '39-71',
       '38-85', '121-193', '54-102', '102-163', '76-140', '60-101',
       '82-133', '65-125', '91-148', '95-173', '77-124', '80-135',
       '85-159', '80-105', '43-81', '29-50', '26-55', '61-118', '60-102',
       '112-182', '51-112', '113-223', '72-129', '71-123', '120-145',
       '80-120', '80-130', '59-115', '71-136', '81-167', '71-204',
       '75-125', '77-136', '74-123', '44-78', '65-148', '59-110',
       '85-134', '124-204', '131-207', '110-174', '52-101', '81-133',
       '132-211', '74-140', '100-190', '43-80', '17-24', '91-149',
       '42-82', '116-185', '59-116', '48-95', '31-72', '105-198',
       '98-182', '73-124', '200-250', '21-34', '117-206', '111-183',
       '81-159', '83-166', '114-182', '42-76', '114-179', '60-123',
       '100-166', '108-173', '48-93', '54-115', '60-127', '90-179',
       '138-224', '190-220', '35-62', '18-25', '39-66', '42-86', '69-127',
       '40-68', '49-113', '75-140', '66-112', '76-125', '44-86', '15-25',
       '53-92', '65-120', '60-103', '53-105', '33-62', '48-90', '34-64',
       '66-111', '91-138', '62-114', '71-129', '74-119', '55-97', '15-16',
       '61-106', '127-199', '74-126', '33-72', '37-63', '67-119',
       '72-117', '78-126', '116-194', '83-133', '45-82', '83-135',
       '70-122', '70-132', '54-101', '68-112', '42-74', '95-161',
       '76-126', '108-176', '130-208', '37-68', '52-99', '105-173',
       '71-134', '39-82', '88-162', '55-99', '67-117', '92-150',
       '116-209', '38-82', '85-90', '62-119', '84-136', '52-89', '65-119',
       '63-101', '127-202', '31-57', '75-143', '105-194', '45-86',
       '95-154', '80-148', '36-62', '50-92', '67-135', '42-80', '68-139',
       '34-92', '54-71', '65-124', '109-200', '61-113', '43-86', '74-149',
       '113-196', '97-160', '24-39', '102-172', '108-171', '76-142',
       '202-306', '49-97', '65-134', '32-59', '87-158', '107-173',
       '56-99', '25-28', '80-155', '43-98', '45-78', '44-96', '50-110',
       '61-119', '100-140', '56-91', '101-158', '125-210', '43-77',
       '139-221', '78-147', '37-66', '38-64', '43-82', '90-110', '93-151',
       '40-101', '97-180', '81-134', '84-157', '121-203', '52-85',
       '81-140', '83-148', '31-55', '102-178', '110-130', '48-85',
       '66-123', '92-146', '21-29', '10-17', '150-239', '52-91', '82-129',
       '47-101', '49-76', '43-88', '124-199', '97-181', '100-173',
       '53-96', '65-96', '75-127', '94-139', '176-289', '92-149',
       '118-188', '108-146', '65-106', '55-98', '94-162', '63-120',
       '126-228', '80-134', '85-142', '87-140', '76-127', '54-92',
       '61-100', '112-179', '63-111', '75-126', '110-184', '76-145',
       '70-118', '94-153', '150-180', '42-77', '47-85', '62-112',
       '64-108', '89-144', '55-105', '135-211', '57-80', '129-215',
       '63-127', '50-89', '71-124', '69-121', '150-238', '77-132',
       '59-112', '35-65', '79-147', '119-187', '90-157', '32-62',
       '116-208', '102-165', '91-159', '80-133', '39-69', '27-48',
       '36-71', '130-206', '99-178', '86-137', '37-100', '58-111',
       '72-133', '61-126', '95-160', '33-61', '69-119', '67-127',
       '66-117', '50-98', '90-153', '100-135', '42-79', '84-153', '44-73',
       '40-87', '72-142', '74-137', '57-109', '136-208', '171-272',
       '65-126', '118-228', '113-182', '58-104', '58-108', '81-161',
       '115-220', '71-144', '32-57', '79-136', '48-113', '27-47',
       '68-125', '39-67', '71-135', '61-123', '87-141', '71-121',
       '72-121', '51-88', '101-141', '79-127', '81-132', '120-140',
       '65-113', '59-125', '80-142', '62-113'], dtype=object)

In [21]:
df['min_salary']=df['Salary Estimate_n'].apply(lambda x:int(x.split('-')[0]))

In [22]:
df['max_salary']=df['Salary Estimate_n'].apply(lambda x:int(x.split('-')[1]))

In [23]:
df['avg_salary']=(df['min_salary']+df['max_salary'])/2

In [24]:
# Company name without rating
df['Company Name']=df['Company Name'].apply(lambda x:x.split('\n')[0])

In [25]:
# State of job
df['Job_state']=df['Location'].apply(lambda x: x.split(',')[1])

In [26]:
# Number of jobs in each state
df['Job_state'].value_counts()

 CA             151
 MA             103
 NY              72
 VA              41
 IL              40
 MD              35
 PA              33
 TX              28
 WA              21
 NC              21
 NJ              17
 FL              16
 OH              14
 TN              13
 DC              11
 CO              11
 WI              10
 IN              10
 UT              10
 AZ               9
 MO               9
 AL               8
 GA               6
 KY               6
 DE               6
 MI               6
 CT               5
 IA               5
 LA               4
 OR               4
 NE               4
 NM               3
 KS               3
 ID               2
 MN               2
 Los Angeles      1
 RI               1
 SC               1
Name: Job_state, dtype: int64

In [27]:
# Check if location and headquarter are in same place
same_s=[]
for i in range(0,len(df['Location'])):
    if(df['Location'].iloc[i]==df['Headquarters'].iloc[i]):
        same_s.append(1)
    else:
        same_s.append(0)
df['Same_state']=same_s

In [28]:
# Age of the company
df['Age']=df['Founded'].apply(lambda x: x if x<1 else 2023-x)

In [29]:
# Parsing job description
df['Job Description'][0]

'Data Scientist\nLocation: Albuquerque, NM\nEducation Required: Bachelor’s degree required, preferably in math, engineering, business, or the sciences.\nSkills Required:\nBachelor’s Degree in relevant field, e.g., math, data analysis, database, computer science, Artificial Intelligence (AI); three years’ experience credit for Master’s degree; five years’ experience credit for a Ph.D\nApplicant should be proficient in the use of Power BI, Tableau, Python, MATLAB, Microsoft Word, PowerPoint, Excel, and working knowledge of MS Access, LMS, SAS, data visualization tools, and have a strong algorithmic aptitude\nExcellent verbal and written communication skills, and quantitative analytical skills are required\nApplicant must be able to work in a team environment\nU.S. citizenship and ability to obtain a DoD Secret Clearance required\nResponsibilities: The applicant will be responsible for formulating analytical solutions to complex data problems; creating data analytic models to improve data metrics; analyzing customer behavior and trends; delivering insights to stakeholders, as well as designing and crafting reports, dashboards, models, and algorithms to make data insights actionable; selecting features, building and optimizing classifiers using machine learning techniques; data mining using state-of-the-art methods, extending organization’s data with third party sources of information when needed; enhancing data collection procedures to include information that is relevant for building analytic systems; processing, cleansing, and verifying the integrity of data used for analysis; doing ad-hoc analysis and presenting results in a clear manner; and creating automated anomaly detection systems and constant tracking of its performance.\nBenefits:\nWe offer competitive salaries commensurate with education and experience. We have an excellent benefits package that includes:\nComprehensive health, dental, life, long and short term disability insurance\n100% Company funded Retirement Plans\nGenerous vacation, holiday and sick pay plans\nTuition assistance\n\nBenefits are provided to employees regularly working a minimum of 30 hours per week.\n\nTecolote Research is a private, employee-owned corporation where people are our primary resource. Our investments in technology and training give our employees the tools to ensure our clients are provided the solutions they need, and our very high employee retention rate and stable workforce is an added value to our customers. Apply now to connect with a company that invests in you.'

In [31]:
# python
df['python_pres']=df['Job Description'].apply(lambda x:1 if 'python' in x.lower() else 0)
# r studio
df['r_pres']=df['Job Description'].apply(lambda x:1 if 'r studio' in x.lower() else 0)
# spark
df['spark_pres']=df['Job Description'].apply(lambda x:1 if 'spark' in x.lower() else 0)
# aws
df['aws_pres']=df['Job Description'].apply(lambda x:1 if 'aws' in x.lower() else 0)
# excel
df['excel_pres']=df['Job Description'].apply(lambda x:1 if 'excel' in x.lower() else 0)

In [38]:
print("Python\n",df.python_pres.value_counts())
print("R\n",df.r_pres.value_counts())
print("spark\n",df.spark_pres.value_counts())
print("aws\n",df.aws_pres.value_counts())
print("excel\n",df.excel_pres.value_counts())

Python
 1    392
0    350
Name: python_pres, dtype: int64
R
 0    741
1      1
Name: r_pres, dtype: int64
spark
 0    575
1    167
Name: spark_pres, dtype: int64
aws
 0    566
1    176
Name: aws_pres, dtype: int64
excel
 1    388
0    354
Name: excel_pres, dtype: int64

In [39]:
df.head()

,Unnamed: 0,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,max_salary,avg_salary,Job_state,Same_state,Age,python_pres,r_pres,spark_pres,aws_pres,excel_pres
0,0,Data Scientist,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,91,72.0,NM,0,50,1,0,0,0,1
1,1,Healthcare Data Scientist,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,112,87.5,MD,0,39,1,0,0,0,0
2,2,Data Scientist,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,90,85.0,FL,1,13,1,0,1,0,1
3,3,Data Scientist,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,97,76.5,WA,1,58,1,0,0,0,0
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,143,114.5,NY,1,25,1,0,0,0,1

In [41]:
df_fin=df.drop(['Unnamed: 0'],axis=1)

In [42]:
df_fin.to_csv("cleaned_salary.csv",index=False)